.user-Red {
    color: #FE4C61;
}

.user-Orange {
    color: #F39C11;
}

.user-Green {
    color: #52C41A;
}

.user-Blue {
    color: #3498DB;
}

.user-Gray {
    color: #BFBFBF;
}

.user-Cheater {
    color: #AD8B00;
}