.diff-0 {
    color: #bfbfbf !important
}

.diff-1 {
    color: #fe4c61 !important
}

.diff-2 {
    color: #f39c11 !important
}

.diff-3 {
    color: #ffc116 !important
}

.diff-4 {
    color: #52c41a !important
}

.diff-5 {
    color: #3498db !important
}

.diff-6 {
    color: #9d3dcf !important
}

.diff-7 {
    color: #0e1d69 !important
}