{% extends "layout.njk" %}

{% block extra_header %}
    <script src="/static/self/js/display_utils.js"></script>
    <link rel="stylesheet" href="/static/self/css/markdown.css" />
    <link rel="stylesheet" href="/static/katex/katex.min.css">
    <script defer src="/static/katex/katex.min.js"></script>
    <script defer src="/static/katex/contrib/auto-render.min.js"></script>
    <script type="module" src="/static/self/js/render.js"></script>
    <script src="/static/self/js/request_utils.js"></script>
{% endblock %}

{% block content %}
    <input type="hidden" id="url" value="user/{{ view_user.id }}">
    <input type="hidden" id="markdown-content" value="{{ view_user.introduction if view_user.introduction else '' }}">
    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="card shadow outline">
                <h1 class="ui header">{{ view_user.name }} 的个人主页</h1>
                <span class="meta gray"><i class="ui icon calendar colored"></i> 最后更新于 {{ view_user.updated_at }}</span>
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <div class="card shadow outline padding-15" style="height: 90%;">
                            <span class="meta gray small">用户信息</span>
                            <div class="meta user" style="margin-top: 5px;">
                                <img class="ui mini circular image"
                                     src="https://cdn.luogu.com.cn/upload/usericon/{{ view_user.id if view_user.id else 3 }}.png"
                                     alt="user_icon">
								<a href="https://www.luogu.com.cn/user/{{ view_user.id }}"
                                   class="user-{{ view_user.color }}"
                                   style="margin-left: 5px; font-weight: 550;">{{ view_user.name }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="sixteen wide column">
                        {% if not empty %}
                        <a href="https://www.luogu.com.cn/user/{{ view_user.id }}" class="ui button">
                            <i class="ui icon share square"></i> 查看原主页
                        </a>
                        <a href="javascript:void(0)" onclick="copyMarkdown()" class="ui button">
                            <i class="ui icon copy"></i> 复制原文
                        </a>
                        {% endif %}
                        <a href="javascript:void(0)" id="save-btn" class="ui positive button">
                            <i class="ui icon sync alternate"></i> 更新资料
                        </a>
                    </div>
                </div>
            </div>
            <div class="card shadow outline md-container" id="render-container" style="min-height: 200px; position: relative;">
                <div class="ui active inverted dimmer" id="render-loader">
                    <div class="ui text loader" id="loader-text">
                        等待网页内容加载完成...
                    </div>
                </div>

                <div id="render-content" class="ui transition hidden" style="display: none;">
                    {% if not empty %}
                        {{ renderedContent | safe }}
                    {% else %}
                        <div style="text-align: center; padding: 50px 0;">
                            <i class="ui icon info circle" style="font-size: 3rem; color: gray;"></i>
                            <div style="font-size: 1.5rem; color: gray; margin-top: 10px;">尚未保存内容</div>
                            <div style="margin-top: 10px;">请点击上方的"更新资料"按钮以保存用户资料</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
		setTimeout(() => {
			$('#loader-text').text('如果长时间未加载完成，请尝试 Ctrl+F5 刷新浏览器缓存。');
		}, 10000);
    </script>
{% endblock %}
