{% extends "layout.njk" %}

{% block content %}
    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="card shadow">
                <h1 class="ui center aligned header">
                    <span><i class="fa fa-trash-alt colored"></i> 数据移除政策</span>
                    <span class="sub header" style="margin-top: 10px;">最后更新于：2025 年 8 月 16 日</span>
                </h1>
            </div>
            <div class="card shadow outline">
                <p style="color:red"><strong>温馨提示：</strong>本页面已经存档并移至 <code>https://help.luogu.me/docs/license/deletion</code>。</p>
                <h3>一、移除请求的范围</h3>
                <p>用户无法自行在本网站直接删除已发布的内容。如需移除内容，须通过联系方式联系我们提交申请。若无特殊情况，申请后删除的形式为<strong>软删除</strong>。</p>

                <h3>二、硬删除申请</h3>
                <p>在以下情形下，用户可提出<strong>硬删除</strong>的申请：</p>
                <ul>
                    <li>内容涉嫌侵犯第三方合法权益，包括但不限于隐私权、名誉权及著作权；</li>
                    <li>内容涉及违法、违规信息，或违反公序良俗；</li>
                    <li>其他经本网站合理认定确有必要永久删除的情形。</li>
                </ul>

                <h3>三、主动移除</h3>
                <p>本网站有权在无需用户事先同意的情况下，直接删除或屏蔽以下内容：</p>
                <ul>
                    <li>违反法律法规、政策规定或司法、行政机关要求的；</li>
                    <li>含有恶意攻击、垃圾信息、低俗或其他不当内容的；</li>
                    <li>经举报并确认存在侵权、违法或损害第三方权益的；</li>
                    <li>本网站认为确有必要采取删除措施的其他情形。</li>
                </ul>

                <h3>四、数据残留说明</h3>
                <ul>
                    <li><strong>软删除</strong>：本网站可能对部分内容实施标记性删除，即该内容不再对外公开展示，且无法被保存，但在数据库中仍可能被保留，以满足审计、安全与合规的合理需求。</li>
                    <li><strong>硬删除</strong>：相关数据将在数据库层面予以彻底移除。但受限于技术条件，相关数据在缓存、日志及系统备份中可能会在一定期限内继续存在，直至完成自动覆盖或清理。本网站将在合理范围内采取措施，最大限度减少残留。</li>
                </ul>

                <h3>五、协议更新</h3>
                <p>我们可能适时更新本政策，并在本页公示，更新后自发布之日起生效。</p>
            </div>
        </div>
    </div>
{% endblock %}
