<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>{{ title }} - 洛谷保存站</title>

    <link rel="shortcut icon" type="image/x-icon" href="https://luogu.com.cn/favicon.ico" media="screen"/>
    <script src="https://gcore.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="/static/sweetalert/sweetalert.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/semantic/semantic.min.css">
    <link rel="stylesheet" href="/static/self/css/namecolor.css">
    <link rel="stylesheet" href="/static/self/css/style.css">
    <link rel="stylesheet" href="/static/self/css/footer-link.css">
    <script src="/static/semantic/semantic.min.js"></script>
    {% block extra_header %}{% endblock %}
</head>
<body style="width: calc(100% - 90px); height: calc(100% - 20px); margin-left: 100px; background-color: #f8fafc; position: relative;">
    <div class="ui left hover vertical sidebar borderless labeled icon menu fixed visible">
        <a class="item" href="/">
            <i class="ui icon home"></i> <span>主页</span>
        </a>
        <a class="item" href="/search">
            <i class="ui icon search"></i> <span>搜索</span>
        </a>
        <a class="item" href="/article/recent">
            <i class="ui icon history"></i> <span>最近更新</span>
        </a>
        <a class="item" href="/statistic">
            <i class="ui icon chart bar"></i> <span>统计数据</span>
        </a>
        <a class="item" href="/token/apply">
            <i class="ui icon key"></i> <span>申请密钥</span>
        </a>
        <!--
        <a class="item" href="/">
            <i class="ui icon cloud download"></i> <span>批量保存</span>
        </a>
        -->
        <a class="item" href="https://old.luogu.me">
            <i class="ui icon code"></i> <span>返回旧前端</span>
        </a>
        {% if user %}
        <a class="item" href="/user/logout" style="position: absolute; bottom: 0; width: 100%;">
            <img class="ui mini circular image" src="https://cdn.luogu.com.cn/upload/usericon/{{ user.id }}.png" alt="usericon">
            <span style="top: 2px;">登出账号</span>
        </a>
        {% else %}
        <a class="item" href="/user/login" style="position: absolute; bottom: 0; width: 100%;">
            <i class="ui icon sign-in"></i>
            <span>登录账号</span>
        </a>
        {% endif %}
    </div>
    <div class="ui main container" style="min-height: calc(100vh - 20px);">
        {% block content %}{% endblock %}
    </div>
    <div class="ui divider"></div>

    <div class="ui vertical footer segment" style="padding-top: 10px; padding-bottom: 28px;">
        <div class="ui container">
            <div class="ui grid">
                <div class="eight wide column firacode">
                    <p>
                        <i class="fa fa-copyright"></i> 2025 洛谷保存站 (<a href="https://www.luogu.me" target="_blank" class="footer-link">www.luogu.me</a>)
                    </p>
                    <p>
                        <a href="https://github.com/luogu-saver-dev/luogu-saver" target="_blank" class="footer-link" style="margin-right: 15px;">
                            <i class="fab fa-github"></i> GitHub
                        </a>
                        <a href="https://help.luogu.me" target="_blank" class="footer-link">
                            <i class="fa fa-book"></i> 帮助文档
                        </a>
                        <a href="https://help.luogu.me/docs/update" target="_blank" class="footer-link">
                            <i class="fa fa-history"></i> 更新日志
                        </a>
                    </p>
                    <p>
                        <i class="fa fa-clock"></i> 本网站已运行 <span id="site-days">0</span> 天
                    </p>
                    <p>
                        <a href="https://github.com/luogu-saver-dev/luogu-saver/graphs/contributors" target="_blank" class="footer-link">
                            <i class="fas fa-users"></i> 项目贡献者
                        </a>
                    </p>
                </div>
                <div class="right floated six wide column firacode">
                    <p>
                        <i class="fa fa-code"></i> 开发者：Federico2903 & Murasame & quanac-lcx
                    </p>
                    <p>
                        <a href="https://help.luogu.me/docs/license/privacy" class="footer-link" style="margin-right: 15px;">
                            <i class="fa fa-user-shield"></i> 隐私协议
                        </a>
                        <a href="https://help.luogu.me/docs/license/disclaimer" class="footer-link" style="margin-right: 15px;">
                            <i class="fa fa-exclamation-circle"></i> 免责声明
                        </a>
                        <a href="https://help.luogu.me/docs/license/deletion" class="footer-link">
                            <i class="fa fa-trash-alt"></i> 数据移除政策
                        </a>
                    </p>
                    </p>
                
                    <p>
                        <a href="https://qm.qq.com/q/QVM9YFEb26" target="_blank" class="footer-link" style="margin-right: 15px;">
                        <i class="fab fa-qq"></i>&nbsp;洛谷保存站用户群：1017248143（点击加入）
                        </a>
                    </p>
                    <p>
                        <a href="https://www.rainyun.com/MjUxMDAy_?s=saver" target="_blank" class="footer-link" style="margin-right: 15px;">
                        <i class="fa fa-server"></i>&nbsp;Powered by RainYun.
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>
		const siteStartDate = new Date("2025-02-12T00:00:00Z");
		const now = new Date();
		const daysRunning = Math.floor((now - siteStartDate) / (1000 * 60 * 60 * 24));
		document.getElementById("site-days").textContent = daysRunning;
		$(function () {
			$("a[href='/user/login']").on("click", function (e) {
				e.preventDefault();
				Swal.fire({
					title: "请输入 Token",
					input: "text",
					inputPlaceholder: "输入你的登录凭据喵！♥️",
					confirmButtonText: "就是这个喵！",
					cancelButtonText: "不是这个喵...",
					showCancelButton: true
				}).then(result => {
					$.post("/user/login", { token: result.value })
						.done(res => {
							if (!res.success) {
								Swal.fire("登录失败", res.data.message || "Token 无效", "error");
							}
							else {
								location.reload();
							}
						})
						.fail(() => {
							Swal.fire("错误", "网络或服务器异常", "error");
						});
				});
			});
		});
		$(function () {
			$("a[href='/user/logout']").on("click", function (e) {
				e.preventDefault();
                $.post("/user/logout")
                    .done(res => {
                        location.reload();
                    })
                    .fail(() => {
                        Swal.fire("错误", "网络或服务器异常", "error");
                    });
			});
		});
    </script>
</body>
