<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>{{ title }} - 洛谷保存站</title>

    <link rel="stylesheet" href="/static/self/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://luogu.com.cn/favicon.ico" media="screen"/>
    <script src="https://gcore.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="/static/sweetalert/sweetalert.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/semantic/semantic.min.css">
    <script src="/static/semantic/semantic.min.js"></script>
    {% block extra_header %}{% endblock %}
</head>
<body style="width: calc(100% - 90px); height: calc(100% - 20px); margin-left: 100px; background-color: #f8fafc; position: relative;">
    <div class="ui left hover vertical sidebar borderless labeled icon menu fixed visible">
        <a class="item" href="/">
            <i class="ui icon home"></i> <span>主页</span>
        </a>
        <a class="item" href="/search">
            <i class="ui icon search"></i> <span>搜索</span>
        </a>
        <a class="item" href="/">
            <i class="ui icon history"></i> <span>最近更新</span>
        </a>
        <a class="item" href="/">
            <i class="ui icon chart bar"></i> <span>统计数据</span>
        </a>
        <a class="item" href="/">
            <i class="ui icon key"></i> <span>申请密钥</span>
        </a>
        <a class="item" href="/">
            <i class="ui icon cloud download"></i> <span>批量保存</span>
        </a>
        <!--
        <a class="item" href="/" style="position: absolute; bottom: 0; width: 100%;">
            <img class="ui mini circular image" src="https://cdn.luogu.com.cn/upload/usericon/381949.png" alt="usericon">
            <span>登出账号</span>
        </a>
        -->
    </div>
    <div class="ui main container" style="min-height: calc(100vh - 20px);">
        {% block content %}{% endblock %}
    </div>
    <div class="ui divider"></div>

    <div class="ui vertical footer segment" style="padding-top: 10px; padding-bottom: 28px;">
        <div class="ui container">
            <div class="ui grid">
                <div class="eight wide column firacode">
                    <p>
                        <i class="fa fa-copyright"></i> 2025 洛谷保存站 (<a href="https://www.luogu.me" target="_blank" style="color: inherit;">www.luogu.me</a>)
                    </p>
                    <p>
                        <a href="https://github.com/luogu-saver-dev/luogu-saver" target="_blank" style="color: inherit;">
                            <i class="fab fa-github"></i> GitHub&nbsp;&nbsp;&nbsp;
                        </a>
                        <span>
                            <i class="fa fa-code-branch"></i> Beta v0.1.0&nbsp;&nbsp;&nbsp;
                        </span>  
						<a href="/" target="_blank" style="color: inherit; ">
                            <i class="fa fa-long-arrow-up"></i> 更新日志
                        </a>
                    </p>
                    <p>
                        <i class="fa fa-clock"></i> 本网站已运行 <span id="site-days">0</span> 天
                    </p>
                    <p>
                        <a href="https://github.com/luogu-saver-dev/luogu-saver/graphs/contributors" target="_blank" style="color: inherit;">
                            <i class="fas fa-users"></i> 项目贡献者
                        </a>
                    </p>
                </div>
                <div class="right floated five wide column firacode">
                    <p>
                        <i class="fa fa-code"></i> 开发者：Federico2903 & Murasame & quanac-lcx
                    </p>
                    <p>
                        <a href="/privacy" style="color: inherit; margin-right: 15px;">
                            <i class="fa fa-user-shield"></i> 隐私协议
                        </a>
                        <a href="/disclaimer" style="color: inherit; margin-right: 15px;">
                            <i class="fa fa-exclamation-circle"></i> 免责声明
                        </a>
                        <a href="/deletion" style="color: inherit;">
                            <i class="fa fa-trash-alt"></i> 数据移除政策
                        </a>
                    </p>
                    </p>
                
                    <p>
                        <a href="https://qm.qq.com/q/QVM9YFEb26" target="_blank" style="color: inherit; margin-right: 15px;">
                        <i class="fab fa-qq"></i>&nbsp;洛谷保存站用户群：1017248143（点击加入）
                        </a>
                    </p>
                    <p>
                        <a href="https://www.rainyun.com/MjUxMDAy_?s=saver" target="_blank" style="color: inherit; margin-right: 15px;">
                        <i class="fa fa-server"></i>&nbsp;Powered by RainYun.
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>
		const siteStartDate = new Date("2025-02-12T00:00:00Z");
		const now = new Date();
		const daysRunning = Math.floor((now - siteStartDate) / (1000 * 60 * 60 * 24));
		document.getElementById("site-days").textContent = daysRunning;
    </script>
</body>
