{% extends "layout.njk" %}

{% block extra_header %}
<script src="/static/self/js/display_utils.js"></script>
<link rel="stylesheet" href="/static/self/css/markdown.css" />
<link rel="stylesheet" href="/static/katex/katex.min.css">
<script defer src="/static/katex/katex.min.js"></script>
<script defer src="/static/katex/contrib/auto-render.min.js"></script>
<script type="module" src="/static/self/js/render.js"></script>
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="sixteen wide column">
        <div class="card shadow outline">
            <h1 class="ui header">剪贴板 - {{ paste.id }}</h1>
            <span class="meta gray"><i class="ui icon calendar colored"></i> 最后更新于 {{ paste.updated_at }}</span>
            <div class="ui grid">
                <div class="sixteen wide column">
                    <div class="card shadow outline padding-15" style="height: 90%;">
                        <span class="meta gray small">作者</span>
                        <div class="meta user" style="margin-top: 5px;">
                            <img class="ui mini circular image"
                                 src="https://cdn.luogu.com.cn/upload/usericon/{{ paste.author.id }}.png"
                                 alt="user_icon">
                            <a href="/user/{{ paste.author.id }}"
                               class="user-{{ paste.author.color }}"
                               style="margin-left: 5px; font-weight: 550;">{{ paste.author.name }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow outline md-container">
            {{ renderedContent | safe }}
        </div>
    </div>
</div>
{% endblock %}